<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>
        <button class="btn btn-primary" (click)="removeAllItem();">Kosár kiürítése</button>
      </p>
      <app-search-result *ngFor="let item of items">
        <div class="row resultItem">
          <div class="col-lg-2">
            <img *ngIf="item.volumeInfo.hasOwnProperty('imageLinks'); else noThumbnail"
                 src="{{item.volumeInfo.imageLinks.thumbnail}}" class="img-thumbnail img-responsive"/>
            <ng-template #noThumbnail>
              <img src="https://books.google.hu/googlebooks/images/no_cover_thumb.gif"
                   class="img-thumbnail img-responsive">
            </ng-template>
          </div>
          <div class="col-lg-10">
            <h1 *ngIf="item.volumeInfo.hasOwnProperty('title')">
              <small>
                <a (click)="onLoadBookdetails(item.id)">
                  {{item.volumeInfo.title}}
                </a>
              </small>
            </h1>
            <blockquote class="small" *ngIf="item.volumeInfo.hasOwnProperty('description'); else noTextSnippet">
              {{item.volumeInfo.description}}
            </blockquote>
            <ng-template #noTextSnippet>
              <blockquote>

              </blockquote>
            </ng-template>
          </div>
        </div>
      </app-search-result>
    </div>
  </div>
</div>
